.lyrics {

    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-family: Montserrat;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px;
    border-color: rgb(94, 94, 94);
}

.lyrwrapp {
    display: flex;
    flex-direction: column;
    border-bottom: 1px;
    border-color: rgb(94, 94, 94);
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 100%;
}

.img {
    margin: 10px;
}